html {
    font-size: 100%;
}

body {
    font-family: Panton; font-weight: 400; font-size: 1rem; line-height: 1.2;
    margin-top: 0px;
}

div.content { max-width: 1264px; min-height: 2617px;
    margin: 0 auto;
    box-shadow: 0 0 15px #858585;
    background-color: rgb(254, 248, 233);
}

.logo { position: relative; left: 40px; top: 19px;
    width: 225px; height: 55px;
}


.vk {
    position: relative; left: 31px; top: -20px; height: 32px;
    margin: 0px 10px 0px 10px;
}

.logo__vk {
    padding-top: 0px;
    width: 225px; height: 29px;
    float: right;
}

.clear {
    clear: both;
}

.menu {
    line-height: 1.2;
    position: relative;
    left: 20px; top: 30px;
}

.menu__item {
    margin: 0px 17px 0px 17px;
    text-decoration: none;
    color: rgb(51, 112, 153);
}

.main-image {
    background-image: url("../images/main-image.png"); background-repeat: no-repeat;
    position: relative; left: 20px; top: 60px; width: 982px; height: 718px;
    float: left;
}

.main-image__item__text {
    background-color: white;
    margin-top: 30px;
    max-width: 653px; max-height: 136px;
    border-radius: 0px 10px 10px 0px;
}

.main-image__item__text1 {
    font-size: 2.5rem;
}

.main-image__item__text2 {
    font-size: 1.5rem; color: rgb(51, 112, 153);
}

.main-image__item {
    padding-top: 190px;
}

.right-image1 {
    position: relative;
}

.right-image1__item {
    background-image: url("../images/right-image1.png");
    position: relative; top: 60px; right: 20px; width: 269px; height: 183px;
    float: right;
}

.right-image1__item__text {
    padding: 5px 0px 0px 25px;
    color: rgb(51, 112, 153);
}

.right-image2__item {
    background-image: url("../images/right-image2.png");
    position: relative; top: 80px; right: 20px; width: 269px; height: 183px;
    float: right;
}

.right-image2__item__text {
    padding: 5px 0px 0px 25px;
    color: rgb(51, 112, 153);
}

h1 {
    font-size: 42px; font-family: "Panton"; font-weight: 400; color: rgb(51, 112, 153); line-height: 1.2;
    text-decoration: none;
    text-align: center;
    position: relative;
    bottom: 200px;
}






